﻿@using Microsoft.AspNetCore.Identity;
@using PersonalSoulBlog.DAL.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model IEnumerable<PersonalSoulBlog.DAL.Models.Entities.Article>
@{
    ViewData["Title"] = "Index";
}

<div class="row pt-4">
    <div class="text-center">
        <h2 class="display-5">Добро пожаловать в блог для вашей души!</h2>
    </div>
</div>

<div class="conteiner p-3">
    <div class="row pt-4">
        <div class="text-center">
            <h4 class="text-primary">Зарегистрируйтесь и начните писать статьи уже сейчас!</h4>
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-controller="Article" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> &nbsp; Создать новую статью
                </a>
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5>
                            <a asp-controller="Article" asp-action="View" asp-route-id="@item.Id" class="card-title">@item.Title</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            @foreach (var tag in item.Tags)
                            {
                                <span class="badge rounded-pill text-bg-success">@tag.Name</span>
                            }
                        </h6>
                        <p class="card-text">@item.User</p>

                        @if (User.IsInRole("Администратор"))
                        {
                            <div class="btn-group" role="group">
                                <a asp-controller="Article" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
                                <form asp-controller="Article" asp-action="Delete" method="post" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger ms-3">Удалить</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>