@model PersonalSoulBlog.BLL.ViewModels.Articles.ArticleView
﻿@using Microsoft.AspNetCore.Identity;
@using PersonalSoulBlog.DAL.Models.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="container p-3">
    <div class="row pt-4">
        <h1>@Model.Title</h1>
        <p>
            @foreach (var tag in Model.Tags)
            {
                <span class="badge rounded-pill text-bg-success" style="color:green">@tag.TagName</span>
            }
        </p>
        <hr>

        <p>@Model.Description</p>
        <hr>

        <p class="fw-bold text-end">Автор статьи: @Model.Author.Email</p>


        @if (Model.Comments.Count != 0)
        {
            <p>Комментарии к статье:</p>

            @foreach (var comment in Model.Comments)
            {
                <div class="card border-info mb-2">
                    <div class="row-1 ps-3 d-flex justify-content-between">
                        <div>
                            <p>@comment.Text</p>
                            <p class="badge rounded-pill bg-info">@comment.User.Email</p>
                        </div>

                        @* @if(User.IsInRole("Администратор") || User.IsInRole("Модератор") || User.Identity.Name == comment.User.Email)
                        { *@
                            <div>
                                <a asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-outline-primary" type="button">Редактировать</a>
                                <form asp-controller="Comment" asp-action="Delete" method="post" asp-route-id="@comment.Id">
                                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                                </form>
                            </div>
                                              
                    </div>
                </div>
            }
        }
        else
        {
            <p>Оставьте первый комментарий к статье!</p>
        }

        <div class="container">
            <div class="row pt-3">
                <p>Оставить комментарий к статье:</p>
                <form method="post" action="/Article/AddComment">
                    <input type="hidden" name="ArticleId" value="@Model.Id" />
                    <div class="row">
                        <div class=" col-5">
                            <div class="form-group">
                                <textarea class="form-control" rows="2" name="Text"></textarea>
                            </div>
                        </div>
                    </div>
                    <br /> <br />

                    <div class="mb-3">
                        <button class="btn btn-secondary" type="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
